.classpath
.project
.settings
*.launch
plugin.xml
stacktrace.log
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/*.xml
/docs
*.zip
*.zip*
*.i*
*.sha1
out
test/reports
web-app/plugins
*.tmproj
lib/*
target/*
atlassian-ide-plugin.xml
.DS_Store
**/.DS_Store
