.classpath
.project
.settings
*.launch
plugin.xml
stacktrace.log
web-app
grails-app/i18n
grails-app/conf/UrlMappings.groovy
/docs
*.zip
*.zip*
*.i*
*.sha1
out
test/reports
web-app/plugins
*.tmproj
lib/*
target/*
atlassian-ide-plugin.xml
.DS_Store
**/.DS_Store
